<!DOCTYPE html>
<html>
<head>
  <title>LighthouseForum</title>
  <%=stylesheet_link_tag href="//cdn.jsdelivr.net/foundation/5.5.1/css/foundation.min.css"%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
